<div class="admin-subpage">
  <div class="admin-forms-container">
    <app-add-era-form [eras]="eras"></app-add-era-form>
    <app-add-composer-form></app-add-composer-form>
    <app-add-piece-form [composers]="composers"></app-add-piece-form>
    <app-add-collection-form
      [collections]="collections"
      [composers]="composers"
    ></app-add-collection-form>
    Add Piece to Syllabus Form
    <div>
      <h2>Add Piece to Syllabus</h2>
      <form (ngSubmit)="addPieceSyllabus()">
        <label>
          Composer:
          <select
            [(ngModel)]="selectedComposerIdForPieceSyllabus"
            name="composerForPieceSyllabus"
            (ngModelChange)="onComposerChange()"
          >
            <option [ngValue]="null">Composer</option>
            <option *ngFor="let composer of composers" [ngValue]="composer.id">
              {{ composer.firstName }} {{ composer.lastName }}
            </option>
          </select>
        </label>

        <label>
          Piece:
          <select [(ngModel)]="newPieceSyllabus.pieceId" name="pieceForSyllabus">
            <option [ngValue]="null">Piece</option>
            <option *ngFor="let piece of filteredPieces" [ngValue]="piece.id">
              {{ piece.name }}
            </option>
          </select>
        </label>

        <label>
          Collection (optional):
          <select [(ngModel)]="newPieceSyllabus.collectionId" name="collectionForSyllabus">
            <option [ngValue]="null">None</option>
            <option *ngFor="let collection of filteredCollections" [ngValue]="collection.id">
              {{ collection.name }}
            </option>
          </select>
        </label>

        <label>
          Syllabus:
          <select
            [(ngModel)]="newPieceSyllabus.syllabusId"
            name="syllabusForSyllabus"
            (ngModelChange)="onSyllabusChange()"
          >
            <option [ngValue]="null">Syllabus</option>
            <option *ngFor="let syllabus of syllabi" [ngValue]="syllabus.id">
              {{ syllabus.name }}
            </option>
          </select>
        </label>

        <label>
          Grade:
          <select [(ngModel)]="newPieceSyllabus.gradeId" name="gradeForSyllabus">
            <option [ngValue]="null">Grade</option>
            <option *ngFor="let grade of filteredGrades" [ngValue]="grade.id">
              {{ grade.grade }}
            </option>
          </select>
        </label>
        <button type="submit" [disabled]="!isPieceSyllabusFormValid">Add Piece</button>
      </form>
    </div>
  </div>
</div>
