<div [class.isDark]="themeService.isDark">
  <!-- <h2>Piece Details</h2>
  <table>
    <thead>
      <tr>
        <th>Piece</th>
        <th>Composer</th>
        <th>Collection</th>
        <th>Syllabus</th>
        <th>Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of piecesWithDetails">
        <td>{{ item.pieceName }}</td>
        <td>{{ item.composer }}</td>
        <td>{{ item.collection || '-' }}</td>
        <td>{{ item.syllabus || '-' }}</td>
        <td>{{ item.grade || '-' }}</td>
      </tr>
    </tbody>
  </table> -->
  <div class="admin-forms-container">
    <app-add-piece-form [composers]="composers"></app-add-piece-form>
    <app-add-composer-form [composers]="composers"></app-add-composer-form>
    <app-add-collection-form
      [collections]="collections"
      [composers]="composers"
    ></app-add-collection-form>

    <!-- Add Piece to Syllabus Form -->
    <div>
      <h2>Add Piece to Syllabus</h2>
      <form (ngSubmit)="addPieceSyllabus()">
        <label>
          Composer:
          <select
            [(ngModel)]="selectedComposerIdForPieceSyllabus"
            name="composerForPieceSyllabus"
            (ngModelChange)="onComposerChange()"
          >
            <option [ngValue]="null">-- Select Composer --</option>
            <option *ngFor="let composer of composers" [ngValue]="composer.id">
              {{ composer.firstName }} {{ composer.lastName }}
            </option>
          </select>
        </label>

        <label>
          Piece:
          <select [(ngModel)]="newPieceSyllabus.pieceId" name="pieceForSyllabus">
            <option [ngValue]="null">-- Select Piece --</option>
            <option *ngFor="let piece of filteredPieces" [ngValue]="piece.id">
              {{ piece.name }}
            </option>
          </select>
        </label>

        <label>
          Collection (optional):
          <select [(ngModel)]="newPieceSyllabus.collectionId" name="collectionForSyllabus">
            <option [ngValue]="null">-- None --</option>
            <option *ngFor="let collection of filteredCollections" [ngValue]="collection.id">
              {{ collection.name }}
            </option>
          </select>
        </label>

        <label>
          Syllabus:
          <select
            [(ngModel)]="newPieceSyllabus.syllabusId"
            name="syllabusForSyllabus"
            (ngModelChange)="onSyllabusChange()"
          >
            <option [ngValue]="null">-- Select Syllabus --</option>
            <option *ngFor="let syllabus of syllabi" [ngValue]="syllabus.id">
              {{ syllabus.name }}
            </option>
          </select>
        </label>

        <label>
          Grade:
          <select [(ngModel)]="newPieceSyllabus.gradeId" name="gradeForSyllabus">
            <option [ngValue]="null">-- Select Grade --</option>
            <option *ngFor="let grade of filteredGrades" [ngValue]="grade.id">
              {{ grade.grade }}
            </option>
          </select>
        </label>
        <button type="submit" [disabled]="!isPieceSyllabusFormValid">Add Piece</button>
      </form>
    </div>
  </div>
</div>
